In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy import stats

#**Diabetes Dataset**

In [29]:
df=pd.read_csv('/content/Dataset of Diabetes .csv')
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [30]:
df.shape

(1000, 14)

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
None

In [32]:
# Summary statistics
print(df.describe())

                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000

In [35]:
missing_values=df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [18]:
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns identified:", categorical_cols)
if len(categorical_cols) > 0:
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
    print("\nDataFrame after one-hot encoding:")
    print(df.head())
else:
    print("\nNo categorical columns found in the dataset.")

Categorical columns identified: Index(['Gender', 'CLASS'], dtype='object')

DataFrame after one-hot encoding:
    ID  No_Pation  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  \
0  502      17975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1  735      34221   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2  420      47975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3  680      87656   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4  504      34223   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0

   Gender_M  Gender_f  CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0     False     False     False    False    False     False
1      True     False     False    False    False     False
2     False     False     False    False    False     False
3     False     False     False    False    False     False
4      True     False     False    False    False     False

In [19]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import pandas as pd

numerical_cols = df.select_dtypes(include=['number']).columns

scaler = MinMaxScaler()
df_minmax = df.copy()  # Create a copy to avoid modifying the original
df_minmax[numerical_cols] = scaler.fit_transform(df[numerical_cols])

scaler = StandardScaler()
df_standard = df.copy()
df_standard[numerical_cols] = scaler.fit_transform(df[numerical_cols])
print("\nDataFrame after Min-Max Scaling:")
print(df_minmax.head())
print("\nDataFrame after Standardization:")
print(df_standard.head())

DataFrame after Min-Max Scaling:
         ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0  0.627034   0.000237  0.508475  0.109375  0.050378  0.264901  0.407767
1  0.918648   0.000452  0.101695  0.104167  0.070529  0.264901  0.359223
2  0.524406   0.000634  0.508475  0.109375  0.050378  0.264901  0.407767
3  0.849812   0.001160  0.508475  0.109375  0.050378  0.264901  0.407767
4  0.629537   0.000452  0.220339  0.171875  0.050378  0.264901  0.475728

         TG       HDL       LDL      VLDL       BMI  Gender_M  Gender_f  \
0  0.044444  0.226804  0.114583  0.011461  0.173913     False     False
1  0.081481  0.092784  0.187500  0.014327  0.139130      True     False
2  0.044444  0.226804  0.114583  0.011461  0.173913     False     False
3  0.044444  0.226804  0.114583  0.011461  0.173913     False     False
4  0.051852  0.061856  0.177083  0.008596  0.069565      True     False

   CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0     False    False    False     False
1     False    False    False     False
2     False    False    False     False
3     False    False    False     False
4     False    False    False     False

DataFrame after Standardization:
         ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0  0.672140  -0.074747 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
1  1.641852  -0.069940 -3.130017 -0.212954 -0.115804 -1.334983 -0.893730
2  0.330868  -0.065869 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
3  1.412950  -0.054126 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
4  0.680463  -0.069939 -2.334096  0.673299 -0.382672 -1.334983  0.028576

         TG       HDL       LDL      VLDL       BMI  Gender_M  Gender_f  \
0 -1.035084  1.810756 -1.085457 -0.369958 -1.124622     False     False
1 -0.678063 -0.158692 -0.457398 -0.342649 -1.326239      True     False
2 -1.035084  1.810756 -1.085457 -0.369958 -1.124622     False     False
3 -1.035084  1.810756 -1.085457 -0.369958 -1.124622     False     False
4 -0.963680 -0.613180 -0.547121 -0.397267 -1.729472      True     False

   CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0     False    False    False     False
1     False    False    False     False
2     False    False    False     False
3     False    False    False     False
4     False    False    False     False

#**Adult Income Dataset**

In [14]:
df1=pd.read_csv('/content/adult.csv')
df1.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [36]:
df1.shape

(48842, 101)

In [37]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Columns: 101 entries, age to income_>50K
dtypes: bool(95), int64(6)
memory usage: 6.7 MB
None

In [38]:
# Summary statistics
print(df.describe())

                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000

In [39]:
missing_values=df1.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [21]:
categorical_cols = df1.select_dtypes(include=['object']).columns
print("Categorical columns identified:", categorical_cols)
if len(categorical_cols) > 0:
    df1 = pd.get_dummies(df1, columns=categorical_cols, drop_first=True)
    print("\nDataFrame after one-hot encoding:")
    print(df.head())
else:
    print("\nNo categorical columns found in the dataset.")

Categorical columns identified: Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

DataFrame after one-hot encoding:
    ID  No_Pation  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  \
0  502      17975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1  735      34221   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2  420      47975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3  680      87656   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4  504      34223   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0

   Gender_M  Gender_f  CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0     False     False     False    False    False     False
1      True     False     False    False    False     False
2     False     False     False    False    False     False
3     False     False     False    False    False     False
4      True     False     False    False    False     False

In [24]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import pandas as pd

numerical_cols = df1.select_dtypes(include=['number']).columns

scaler = MinMaxScaler()
df_minmax = df1.copy()  # Create a copy to avoid modifying the original
df_minmax[numerical_cols] = scaler.fit_transform(df1[numerical_cols])

scaler = StandardScaler()
df_standard = df1.copy()
df_standard[numerical_cols] = scaler.fit_transform(df1[numerical_cols])
print("\nDataFrame after Min-Max Scaling:")
print(df_minmax.head())
print("\nDataFrame after Standardization:")
print(df_standard.head())

DataFrame after Min-Max Scaling:
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0  0.109589  0.145129         0.400000      0.000000           0.0
1  0.287671  0.052451         0.533333      0.000000           0.0
2  0.150685  0.219649         0.733333      0.000000           0.0
3  0.369863  0.100153         0.600000      0.076881           0.0
4  0.013699  0.061708         0.600000      0.000000           0.0

   hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
0        0.397959                  False                False
1        0.500000                  False                False
2        0.397959                  False                 True
3        0.397959                  False                False
4        0.295918                  False                False

   workclass_Never-worked  workclass_Private  ...  native-country_Puerto-Rico  \
0                   False               True  ...                       False
1                   False               True  ...                       False
2                   False              False  ...                       False
3                   False               True  ...                       False
4                   False              False  ...                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
3                    False                 False                  False
4                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
3                    False                           False
4                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
3                          True                   False
4                          True                   False

   native-country_Yugoslavia  income_>50K
0                      False        False
1                      False        False
2                      False         True
3                      False         True
4                      False        False

[5 rows x 101 columns]

DataFrame after Standardization:
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0 -0.995129  0.351675        -1.197259     -0.144804     -0.217127
1 -0.046942 -0.945524        -0.419335     -0.144804     -0.217127
2 -0.776316  1.394723         0.747550     -0.144804     -0.217127
3  0.390683 -0.277844        -0.030373      0.886874     -0.217127
4 -1.505691 -0.815954        -0.030373     -0.144804     -0.217127

   hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
0       -0.034087                  False                False
1        0.772930                  False                False
2       -0.034087                  False                 True
3       -0.034087                  False                False
4       -0.841104                  False                False

   workclass_Never-worked  workclass_Private  ...  native-country_Puerto-Rico  \
0                   False               True  ...                       False
1                   False               True  ...                       False
2                   False              False  ...                       False
3                   False               True  ...                       False
4                   False              False  ...                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
3                    False                 False                  False
4                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
3                    False                           False
4                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
3                          True                   False
4                          True                   False

   native-country_Yugoslavia  income_>50K
0                      False        False
1                      False        False
2                      False         True
3                      False         True
4                      False        False

[5 rows x 101 columns]